.container-fluid
  %h1 StaticPages#landing_page
  %p Find me in app/views/static_pages/landing_page.html.erb
  = link_to "Teste", root_path, class: "btn btn-lg btn-warning"
  = link_to root_path, class: "btn btn-lg btn-warning" do
    %i.fa.fa-file-word
    Teste
